.navbar {
    border-radius: 20px;
}

.navbar:hover {
    border-radius: 40px;
    border: 1px white solid;
    background-color: white;
    color: black;
    transition: 400ms;
}


.mhwilds {
    background-image: url(images/mhp_20th_pc_global.jpg);
}